# Add any directories, files, or patterns you don't want to be tracked by version control
.idea
setup
source/core/src/main/java/contentws
source/core/src/main/java/io
source/core/src/main/java/mtws
source/core/src/main/java/resultws
source/core/src/main/java/smsws
sources/lottery-api/target
sources/lottery-crawler/target
sources/lottery-worker/target
sources/lottery-core/target
*.iml
